[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bootGOF"]
	path = bootGOF
	url = https://github.com/marselscheer/bootgof
[submodule "sanityTracker"]
	path = sanityTracker
	url = https://github.com/marselscheer/sanitytracker
[submodule "simTool"]
	path = simTool
	url = https://github.com/marselscheer/simtool
